/*
 * enter your fallback wifi credentials here and rename to credentials.h
 */

const char* fallback_ssid = "your-ssd";
const char* fallback_password = "your-wifi-pw";
const char* host = "loratelegraphrecv";
