/*
 * enter your wifi credentials here and rename to credentials.h
 */

const char* ssid = "your-ssd";
const char* password = "your-wifi-pw";
const char* host = "loratelegraphrecv";

#define OTA_PWD "your-ota-pw"
